apiVersion: v1
kind: Service
metadata:
  name: authservice
  namespace: asm-user-auth
  labels:
    app: authservice
spec:
  selector:
    app: authservice
  ports:
  - name: grpc
    port: 10003
    targetPort: 10003
  - name: http
    port: 10004
    targetPort: 10004
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: authservice
  namespace: asm-user-auth
  labels:
    app: authservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authservice
  template:
    metadata:
      labels:
        app: authservice
    spec:
      containers:
      - name: authservice
        image: gcr.io/gke-release/asm/asm_user_auth:latest # {"$ref":"#/definitions/io.k8s.cli.setters.anthos.servicemesh.user-auth.image"}
        imagePullPolicy: IfNotPresent
        command:
        - /usr/bin/asm_user_auth
        - --uid=
        - --gid=
        - --logtostderr
        - --config=/etc/config/config.yaml
        ports:
        - containerPort: 10003
          protocol: TCP
        - containerPort: 10004
          protocol: TCP
        resources: {}
        volumeMounts:
        - mountPath: /etc/charon/certs
          name: key-volume
        - mountPath: /etc/config
          name: config-volume
          readOnly: true
      volumes:
      - name: key-volume
        secret:
          defaultMode: 420
          secretName: secret-key
      - configMap:
          defaultMode: 420
          name: user-auth-config
        name: config-volume
---
apiVersion: security.istio.io/v1beta1
kind: PeerAuthentication
metadata:
  name: authservice-mtls
  namespace: asm-user-auth
spec:
  selector:
    matchLabels:
      app: authservice
  mtls:
    mode: STRICT
  portLevelMtls:
    10004:
      mode: PERMISSIVE
